html, body {
    height: 99%;
}



#root{
    display: flex;
    flex-direction: column;
    font-family: arial;
}

header{
    flex: 1;
    border: 2px solid blue;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headline{
    color: white;
    font-size: 20px;
    text-align: center;
}

#content{
    flex: 20;
}

