html, body, #root {
    height: 99%;
}

#root {
    display: flex;
    flex-direction: column;
    font-family: arial;

}

#wrapper {
    display: flex;
    flex-direction: row;
    flex: 15;
}

#navigation {
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-right: 5px solid blue;
    justify-content: space-evenly;
    align-items: center;
}

#contentContainer{
    flex: 5;
    border: 3px solid blue;
}



#content{
    flex: 20;
    text-align: center;
}

#content div{
    font-size: xx-large;
    font-weight: bolder;
}



button{
    height: 50px;
    width: 200px;
    border: 2px solid blue;
    border-radius: 25px;
    background-color: white;
    transition: all 0.5s;
    cursor: pointer;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}
  
button:hover span:after {
    opacity: 1;
    right: 0;
}
  
footer{
    margin-top: 5px;
    border: 3px solid blue;
    flex: 0.5;
    background-color: black;
    color: white;
    text-align: end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

footer div{
    margin-right: 10px;
}

#dataConnection{
    margin-right: 30px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid blue;;
    background: rgb(238,138,138);
    background: radial-gradient(circle, rgba(238,138,138,1) 10%, rgba(179,13,15,1) 43%, rgba(32,4,4,1) 96%); 
}