html, body, #root {
    height: 97%;
}

/* Scrollbar deaktivieren */
::-webkit-scrollbar {
    display: none;
}

html {
    color: blue;
    background-color: black;
    border: 4px solid blue;
    margin: 0;
}

#root, #inputField {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#inputField input select {
    width: 250px;
    margin-bottom: 10px;
}